* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  width: 100%;
  height: auto;
  background-image: url('https://i.ibb.co/qkX7KJD/homebg-Park.png');
  /* background-color: rgb(232, 37, 86); */
  /* background-color: rgb(96, 116, 93); */
  background-color: rgb(38, 22, 220);
  background-position: center;
  background-size:cover;
  background-repeat: repeat;
}

.card {
  height: 55vh;
  border-radius: 880px 980px 560px 960px !important;
  background-color: blanchedalmond;
}

.itemListStyle {
  display: inline-block;
  width: 100vh;
  height: auto;
  font-size: 3vh;
  margin-left: 12.5%;
  margin-right: 10%;
}

.itemListStyleView {
  display: inline-block;
  width: 100vh;
  height: 85.6vh;
  font-size: 3vh;
  margin-left: 12.5%;
  margin-right: 10%;
}

.conatiner{
  max-width: 20vw;
  max-height: 20vw;
  width: 40vh;
  height: 100vh;
  margin: 1vh;
  margin: 8vh;
  align-items: center;
  text-align: center;
}

.imgCard {
  width: 10vh;
  height: 55vh;
  margin: 0px;
  border-radius: 280px 380px 460px 460px !important;
  box-shadow: black;
}

.cardTitlle {
  width: 50vh;
  height: 5vh;
  margin: auto;
  text-decoration: none;
}

.butonCard {
  /* background-color: rgb(236, 251, 19); */
  background-color: rgb(202, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
  width: 220px;
  height: 50px;
}

.textButton {
  /* color: rgb(0, 0, 0); */
  text-decoration: none;
  color: rgb(255, 255, 255)  
}

.ticketIcon {
  width: 30px;
}

.imgDetail {
  width: 50vh;
  height: 55vh;
  margin: 2vh;
  margin-top: 2vh;
  margin-left: 37%;
  margin-right: 10%;
  border-radius: 280px 380px 460px 460px !important;
  box-shadow: black;
}

.detail{
  margin-left: 23%;
  margin-right: 10%;
  border-radius: 15px;
  width: 75vh;
  color:  #fff067;
  text-align: center;
  background-color: rgba(133, 144, 168, 0.756);
}

.counterStyle {
  display: flex;
  flex-direction: row;
  margin: 2vh;
  padding: 2vh;
}

.butonCount {
  background-color: rgb(236, 251, 19);
  font-size: 20px;
  color: black;
  border: 0px;
  border-radius: 20px;
  width: 165px;
  height: 50px;
  margin: 0.5vh;

}

.qtySelect {
  width: 17px;
  height: 50px;
  margin: 0.5vh;
}

.cartStyle {
  width: 100%;
  height: auto;
  color: #24353f
}

.cartView {
  width: auto;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: rgba(216, 157, 157, 0.167); */
  background-color: rgba(255, 255, 255, 0.549);
  color: rgb(0, 0, 0);
}

.poductsSelected {
  text-align: center;
  color: rgb(254, 254, 254);
}

.goToBuy {
  background-color: rgb(236, 251, 19);
  font-size: 20px;
  color: black;
  border: 0px;
  border-radius: 20px;
  width: 165px;
  height: 50px;
  margin: 0.5vh;
  margin: 15px;
  margin-top: 50px;
  margin-left: 45%;
  margin-right: 40%;
}

.cartGoToBuy {
  width: auto;
  height: 73.2vh;
  text-align: center;
  margin: 5vh;
  /* color: rgb(253, 253, 253); */
}

.payToTotal {
  text-align: center;
  width: 100vw;
  height: 20vh;
  background-color: rgba(133, 144, 168, 0.756);
  color: rgb(0, 0, 0);
}



.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0em 1em;
  color: #ffffff;
  width: 100%;
  bottom: 0; 
}

.footer-text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: .5;
  color: #ffffff;
}

.footer #copyright a {
  color: #FFF;
  text-decoration: none;
}

.footer #copyright a:hover{
  color: rgb(173, 173, 173)
}
