* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  width: 100%;
  height: auto;
  background-image: url('https://i.ibb.co/qkX7KJD/homebg-Park.png');
  background-color: rgba(117, 151, 68, 0.939);
  background-position: center;
  background-size:cover;
  background-repeat: repeat;
}

.card {
  height: 55vh;
  border-radius: 880px 980px 560px 960px !important;
  background-color: blanchedalmond;
}

.itemListStyle {
  display: inline-block;
  width: 100vh;
  height: 10vh auto;
  font-size: 3vh;
  margin-left: 12.5%;
  margin-right: 10%;
}

.conatiner{
  max-width: 20vw;
  max-height: 20vw;
  width: 40vh;
  height: 100vh;
  margin: 1vh;
  /* display: inline-block; */
  margin: 8vh;
  align-items: center;
  text-align: center;
}

.imgCard {
  width: 10vh;
  height: 55vh;
  margin: 0px;
  border-radius: 280px 380px 460px 460px !important;
  box-shadow: black;
}

.cardTitlle {
  width: 50vh;
  height: 5vh;
  margin: auto;
  text-decoration: none;
}

.butonCard {
  background-color: rgb(236, 251, 19);
  font-size: 20px;
  color: black;
  border: 0px;
  border-radius: 20px;
  width: 220px;
  height: 50px;
}

.textButton {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.ticketIcon {
  width: 30px;
}

.imgDetail {
  width: 50vh;
  height: 55vh;
  margin: 2vh;
  margin-top: 2vh;
  margin-left: 37%;
  margin-right: 10%;
  border-radius: 280px 380px 460px 460px !important;
  box-shadow: black;
}

.detail{
  margin-left: 23%;
  margin-right: 10%;
  border-radius: 15px;
  width: 75vh;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(21, 0, 255, 0.815);
}

.counterStyle {
  display: flex;
  flex-direction: row;
  margin: 2vh;
  padding: 2vh;
}

.butonCount {
  background-color: rgb(236, 251, 19);
  font-size: 20px;
  color: black;
  border: 0px;
  border-radius: 20px;
  width: 165px;
  height: 50px;
  margin: 0.5vh;

}

.qtySelect {
  width: 17px;
  height: 50px;
  margin: 0.5vh;
}

.cartStyle {
  width: 100%;
  height: 90vh;
}

.cartView {
/*   display: inline-block; */
  /* flex-direction: row; */
  margin: 2vh;
  padding: 2vh;
}